<div class="container mt-5">
  <h2 class="text-center mb-4">プロフィール画面</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: @user, local: true, html: { multipart: true }) do |form| %>

        <div class="mb-3">
          <%= form.label :icon_image, "アイコン画像", class: 'form-label' %>
          <%= image_tag(@user.icon_image.url, class: 'img-fluid mt-2 mb-3') %>
        </div>

        <div class="mb-3">
          <%= form.label :name, "名前", class: 'form-label' %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :self_introduction, "自己紹介", class: 'form-label' %>
          <%= form.text_area :self_introduction, rows: 4, class: 'form-control' %>
        </div>

        <div class="mb-4">
          <%= link_to "プロフィールを編集", profile_edit_users_path, class: 'btn btn-primary w-100' %>
        </div>

        <div class="mb-4">
          <%= link_to "アカウント画面へ戻る", account_users_path, class: 'btn btn-outline-secondary w-100' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
