<div class="container">
  <h3 class="pt-3">予約した施設の一覧</h3>
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>合計料金</th>
        <th>チェックイン</th>
        <th>チェックアウト</th>
        <th>予定確定日時</th>
        <th>編集/削除</th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= image_tag(reservation.room.room_image.url, width: "100", height: "auto") %></td>
          <td><%= link_to reservation.room.name, room_path(reservation.room.id) %></td>
          <td class="introduction-cell"><%= reservation.room.introduction %></td>
          <td>¥<%= reservation.total_price %></td>
          <td><%= reservation.start_date.strftime("%Y/%m/%d") %></td>
          <td><%= reservation.end_date.strftime("%Y/%m/%d") %></td>
          <td><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <div class="dropdown">
              <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag("three-dot-menu-0c042cde96cc73e058e97d09a24944eb2914eb8c152d418dc6fc6964251fdaa2.svg", alt: "theree-dot-icon") %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                  <%= link_to '再予約', edit_reservation_path(reservation), class: 'dropdown-item' %>
                </li>
                <li>
                  <%= link_to '削除', reservation_path(reservation), method: :delete, data: { confirm: '予約を削除しますか？' }, class: 'dropdown-item' %>
                </li>
              </ul>
            </div>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>


