<h3>予約した施設の一覧</h3>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>合計料金</th>
        <th>チェックイン</th>
        <th>チェックアウト</th>
        <th>予定確定日時</th>
        <th>編集/削除</th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.rooms.room_image %></td>
          <td><%= reservation.rooms.name %></td>
          <td><%= reservation.rooms.introduction %></td>
          <td><%= reservation.total_price %></td>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td><%= reservation.created_at %></td>
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>


