<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Card -->
      <div class="card shadow">
        <!-- Card Header -->
        <div class="card-header py-3">
          <h2 class="mb-0 text-center">ログイン</h2>
        </div>
        <!-- Card Body -->
        <div class="card-body p-4">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-3">
              <%= f.label :email, class: 'form-label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class: 'form-label' %>
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>

            <div class="d-flex justify-content-center">
              <%= f.submit "Log in", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>  
  </div>
</div>
