<div class="container">
  <h2>施設情報の編集画面</h2>
  <div class="d-flex flex-column mb-3 align-items-center">
    <%= form_with(model: @room, local: true, html: { multipart: true }) do |f| %>
      <div class="p-2">
        <%= f.label :name, "施設名", {class: 'form-label'} %>
        <%= f.text_field :name, {class: 'form-control'} %>
      </div>
      <div class="p-2">
        <%= f.label :introduction, "施設詳細", {class: 'form-label'} %>
        <%= f.text_area :introduction, {class: 'form-control'} %>
      </div>
      <div class="p-2">
        <%= f.label :price_per_night, "料金", {class: 'form-label'} %>
        <%= f.number_field :price_per_night, {class: 'form-control'} %>
      </div>
      <div class="p-2">
        <%= f.label :address, "住所", {class: 'form-label'} %>
        <%= f.text_field :address, {class: 'form-control'} %>
      </div>
      <div class="p-2">
        <%= f.label :room_image, "施設画像", {class: 'form-label'} %>
        <%= f.file_field :room_image, {class: 'form-control'} %>
      </div>
      <div class="p-2">
        <%= f.submit "保存", {class: 'btn btn-primary'} %>
      </div>
      <div class="p-2">
        <%= link_to "戻る", :back %>
      </div>
    <% end %>
  </div>
</div>


