<h3>施設一覧</h3>

<table>
  <thead>
    <tr>
      <th>施設画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>宿泊料金</th>
      <th>作成日</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.room_image %></td>
        <td><%= room.name %></td>
        <td><%= room.introduction %></td>
        <td><%= room.price_per_night %></td>
        <td><%= room.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
