<div class="container mb-5 mt-3">
  <%= form_with(url: rooms_path, method: :get, local: true, class: "d-flex flex-column flex-md-row align-items-md-center justify-content-center") do |form| %>
    <div class="p-2" style="max-width: 200px;">
      <%= form.text_field :area, placeholder: "エリア名を入力", class: "form-control" %>
    </div>
    <div class="p-2" style="max-width: 200px;">
      <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "form-control" %>
    </div>
    <div class="p-2" style="max-width: 200px;">
      <%= form.submit "検索", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>

<div class="container-fluid">
    <div class="card mb-0">
        <div class="row g-0">
            <div class="col-12 col-md-4">
                <%= image_tag(@room.room_image.url, class: 'img-fluid rounded-start') %>
            </div>
            <div class="col-12 col-md-8">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title"><%= @room.name %></h5>
                      <p class="card-text fs-4">¥<%= @room.price_per_night %></p>
                    </div>
                    <p class="card-text"><%= @room.introduction %></p>
                    <div>
                        <%= form_with(model: @reservation, url: confirm_reservations_path, local: true, class: "d-flex flex-column align-items-md-center justify-content-center") do |form| %>
                          <div class="d-flex flex-md-row align-items-md-center">
                            <div class="p-2" style="max-width: 200px;">
                              <%= form.label :start_date, "チェックイン", class: 'form-label' %>
                              <%= form.date_field :start_date, class: 'form-control' %>
                            </div>
                            <div class="p-2" style="max-width: 200px;">
                              <%= form.label :end_date, "チェックアウト", class: 'form-label' %>
                              <%= form.date_field :end_date, class: 'form-control' %>
                            </div>
                            <div class="p-2" style="max-width: 200px;">
                              <%= form.label :number_of_people, "人数", class: 'form-label' %>
                              <%= form.number_field :number_of_people, min: 1, step: 1, class: 'form-control' %>
                            </div>
                          </div>
                          <div class="p-2" style="max-width: 200px;">
                            <%= form.submit "予約する", class: "btn btn-primary w-100" %>
                          </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="p-3 fs-3">
  <%= link_to(:back, class: 'text-decoration-none') do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left me-2" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    戻る
  <% end %>
</div>
